.container {
  max-width: 63.75%;
}

.navbar {
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgba(#000000, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 0;
  max-height: 4.4rem;
  z-index: 9999;
}

.nav-link {
  color: white;
  padding: 0;
}

.nav-image {
  filter: brightness(80%);
  transition: all 0.25s linear;

  &:hover {
    cursor: pointer;
    filter: brightness(100%);
  }
}

.covid-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  padding: 1.2rem;
}

.hidden-nav {
  background-color: transparent;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .text {
    text-decoration: underline;
  }
}

.text {
  color: var(--color-white);
  font-size: 1.38rem;
  font-weight: 400;
  opacity: 0.94;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.chevron-icon {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-left: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.cta-bar {
  padding: 1.2rem;
}

.link {
  color: var(--color-link);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 38rem;
}

.recap-h1 {
  font-size: 7.5rem;
  font-weight: 600;
  margin-top: 3rem;
  color: var(--color-blue-dark);
}

.recap-h4 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 44%;
  text-align: center;
  color: var(--color-blue-dark);
}

.btn {
  border-radius: 10rem;
  font-size: 1.7rem;
  padding: 1.6rem 3.1rem;
  margin-top: 2.2rem;
  transition: all 0.25s linear;
}

.btn-blue {
  border: 1px var(--color-blue-dark) solid;
  color: var(--color-blue-dark);

  &:hover {
    color: white;
    background-color: var(--color-blue-dark);
  }
}

.btn-white {
  border: 1px var(--color-white) solid;
  color: var(--color-white);
  min-width: 15rem;

  &:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.btn-black {
  border: 1px var(--color-black) solid;
  color: rgba(#0000, 0.94);
  min-width: 15rem;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

.play-button {
  position: absolute;
  bottom: 4.5%;
  right: 3.5%;
  height: 4rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.series-6-text-img {
  height: 131px;
  width: 346px;
  background-image: url("./images/watch_series_6_logo_large.png");
}

.series-se-text-img {
  height: 131px;
  width: 346px;
  background-image: url("./images/watch_se_logo_large.png");
}

.fitness-text-img {
  height: 75px;
  width: 410px;
  background-repeat: no-repeat;
  background-image: url("./images/fitness_plus_logo_large.png");
}

.apple-text-img {
  height: 50px;
  width: 150px;
  margin-bottom: 6rem;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_air_logo_large.png");
}

.new-ipad-text-img {
  height: 120px;
  width: 243px;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_logo_large.png");
}

.one-text-img {
  height: 76px;
  width: 243px;
  background-repeat: no-repeat;
  background-image: url("./images/apple_one_logo_large.png");
}

.series-6-text {
  color: var(--text-color-white);
  font-size: 2rem;
  margin-top: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &:hover {
    cursor: default;
  }
}

.series-6-bg-img {
  height: 94rem;
  width: 65rem;
  background-repeat: no-repeat;
  background-image: url("./images/watch_series_6_hero_large.jpg");
}

.series-se-bg-img {
  height: 77rem;
  width: 80rem;
  background-repeat: no-repeat;
  background-image: url("./images/watch_se_hero_large.jpg");
}

.fitness-bg-img {
  height: 128rem;
  width: 90rem;
  transform: translateY(-6rem);
  background-repeat: no-repeat;
  background-image: url("./images/fitness_plus_hero_large.jpg");
}

.ipad-bg-img {
  height: 38rem;
  width: 110.3rem;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_air_hero_large.jpg");
}

.new-ipad-bg-img {
  height: 92rem;
  width: 92rem;
  object-fit: cover;
  transform: translateX(-9rem);
  background-repeat: no-repeat;
  background-image: url("./images/ipad_hero_large.jpg");
}

.one-section-bg-img {
  height: 38rem;
  width: 65rem;
  transform: translateY(2rem);
  background-repeat: no-repeat;
  background-image: url("./images/apple_one_hero_large.jpg");
}

.text-black {
  color: var(--text-color-black);
  opacity: 0.94;
}

.title-small {
  opacity: 0.8;
}

.unselectable-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.title-strong-text {
  color: black;
  opacity: 0.98;
}

.text-small {
  font-size: 1.2rem;
  color: var(--text-footer);
  margin-bottom: 1rem;
}

.br {
  height: 0.1rem;
  width: 100%;
  opacity: 0.3;
  background-color: var(--text-footer);
  margin: 2rem 0;
}

.br-margin-sm {
  margin: 1rem 0;
}

.footer-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  opacity: 0.98;
  min-width: 20rem;

  &:hover {
    cursor: default;
  }
}

.footer-link {
  display: inline-block;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: black;
  }
}

.separator {
  display: flex;
  align-self: start;
  height: 1.4rem;
  width: 0.1rem;
  opacity: 0.4;
  margin: 0 1.25rem;
  background-color: var(--text-footer);
}

.footer-country {
  margin-left: auto;
}
