.container {
  max-width: 63.75%;
}

.navbar {
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgba(#000000, 0.8);
  padding: 0;
  max-height: 4.4rem;
  z-index: 9999;
}

.nav-link {
  color: white;
  padding: 0;
}

.nav-image {
  filter: brightness(85%);
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    filter: brightness(100%);
  }
}

.covid-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  padding: 1.2rem;
}

.hidden-nav {
  background-color: transparent;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .text {
    text-decoration: underline;
  }
}

.text {
  color: var(--color-white);
  font-size: 1.38rem;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.chevron-icon {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-left: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.cta-bar {
  padding: 1.2rem;
}

.text-black {
  color: var(--text-color-black);
  font-size: inherit;
}

.link {
  color: var(--color-link);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 38rem;
}

.recap-h1 {
  font-size: 7.5rem;
  font-weight: 600;
  margin-top: 3rem;
  color: var(--color-blue-dark);
}

.recap-h4 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 44%;
  text-align: center;
  color: var(--color-blue-dark);
}

.btn {
  border-radius: 10rem;
  font-size: 1.7rem;
  padding: 1.6rem 3.1rem;
  margin-top: 2.5rem;
  transition: all 0.3s;
}

.btn-blue {
  border: 1px var(--color-blue-dark) solid;
  color: var(--color-blue-dark);

  &:hover {
    color: white;
    background-color: var(--color-blue-dark);
  }
}

.play-button {
  position: absolute;
  bottom: 4.5%;
  right: 3.5%;
  height: 4rem;

  &:hover {
    cursor: pointer;
  }
}
