.u-margin-right-xsm {
  margin-right: 1rem !important;
}

.u-margin-right-sm {
  margin-right: 2rem !important;
}

.u-margin-right-md {
  margin-right: 4rem !important;
}

.u-margin-bottom-xsm {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 3rem !important;
}

.u-margin-top-sm {
  margin-top: 2rem !important;
}
