:root {
  --color-black: black;
  --color-white: white;
  --color-blue: #0071e3;
  --color-blue-dark: #1d326c;
  --color-link: #06c;
  --color-grey: #f4f4f4;
  --color-grey-light: #fafafa;
  --text-color-black: #1d1d1f;
  --text-color-white: #f5f5f7;
  --text-footer: #86868b; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "SF Pro Display", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.47059;
  letter-spacing: -0.022;
  font-size: 1.4rem;
  background-repeat: no-repeat;
  color: black;
  overflow-x: hidden; }

.container {
  max-width: 63.75%; }

.navbar {
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 0;
  max-height: 4.4rem;
  z-index: 9999; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      display: none; } }

.navbar-mobile {
  display: none;
  padding: 0 1.5rem;
  transition: all 0.25s linear; }
  @media only screen and (max-width: 56.25em) {
    .navbar-mobile {
      display: flex; } }

.search {
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.75rem 3.25rem;
  background-color: #202020;
  border: none;
  outline: none;
  caret-color: white; }
  .search::placeholder {
    font-size: 1.7rem;
    font-family: "SF Pro Display", "Roboto", sans-serif; }

.search-icon {
  font-size: 1.3rem;
  position: absolute;
  transform: translateX(0.8rem) translateY(-0.1rem);
  color: #5c5c5c;
  z-index: 10; }

.br-links {
  margin: 0 !important; }

.nav-image-extended {
  height: 5rem;
  filter: brightness(100%) !important; }

.apple-img-mobile {
  margin-left: auto;
  margin-right: auto; }

.nav-hamburger-1 {
  height: 1px;
  width: 15px;
  margin-bottom: 5px;
  background-color: white;
  transition: all 0.25s; }

.nav-hamburger-2 {
  height: 1px;
  width: 15px;
  margin-top: 5px;
  background-color: white;
  transition: all 0.25s; }

.nav-link {
  color: white;
  padding: 0;
  transition: all 0.25s linear; }

.nav-image {
  filter: brightness(80%);
  transition: all 0.25s linear; }
  .nav-image:hover {
    cursor: pointer;
    filter: brightness(100%); }

.covid-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  padding: 1.2rem; }

.hidden-nav {
  background-color: transparent; }

.content {
  display: flex;
  align-items: center;
  justify-content: center; }
  .content:hover .text {
    text-decoration: underline; }

.text {
  color: var(--color-white);
  font-size: 1.38rem;
  font-weight: 400;
  opacity: 0.94; }
  .text:hover {
    text-decoration: underline;
    cursor: pointer; }

@media only screen and (max-width: 31.25em) {
  .mobile-text {
    text-align: center; } }

.chevron-icon {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-left: 0.5rem; }
  .chevron-icon:hover {
    cursor: pointer; }

.cta-bar {
  padding: 1.2rem; }

.link {
  color: var(--color-link); }
  .link:hover {
    cursor: pointer;
    text-decoration: underline; }

.video-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.video {
  width: 38rem; }
  @media only screen and (max-width: 44.375em) {
    .video {
      width: 30rem; } }
  @media only screen and (max-width: 25.9375em) {
    .video {
      width: 25rem; } }

.recap-h1 {
  font-size: 7.5rem;
  font-weight: 600;
  margin-top: 3rem;
  color: var(--color-blue-dark); }
  @media only screen and (max-width: 44.375em) {
    .recap-h1 {
      text-align: center;
      font-size: 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .recap-h1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 20.9375em) {
    .recap-h1 {
      font-size: 3.5rem; } }

.recap-h4 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 44%;
  text-align: center;
  color: var(--color-blue-dark); }
  @media only screen and (max-width: 58.125em) {
    .recap-h4 {
      font-size: 1.8rem;
      max-width: 65%; } }
  @media only screen and (max-width: 31.25em) {
    .recap-h4 {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 24.375em) {
    .recap-h4 {
      font-size: 1.4rem;
      max-width: 75%; } }
  @media only screen and (max-width: 20.9375em) {
    .recap-h4 {
      font-size: 1.3rem;
      max-width: 85%; } }

.btn {
  border-radius: 10rem;
  font-size: 1.7rem;
  padding: 1.6rem 3.1rem;
  margin-top: 2.2rem;
  transition: all 0.25s linear; }

.btn-blue {
  border: 1px var(--color-blue-dark) solid;
  color: var(--color-blue-dark); }
  .btn-blue:hover {
    color: white;
    background-color: var(--color-blue-dark); }

.btn-white {
  border: 1px var(--color-white) solid;
  color: var(--color-white);
  min-width: 15rem; }
  .btn-white:hover {
    color: var(--color-black);
    background-color: var(--color-white); }
  @media only screen and (max-width: 24.375em) {
    .btn-white {
      min-width: 10rem;
      font-size: 1.3rem; } }

.btn-black {
  border: 1px var(--color-black) solid;
  color: rgba(0, 0, 0, 0.94);
  min-width: 15rem; }
  .btn-black:hover {
    color: var(--color-white);
    background-color: var(--color-black); }
  @media only screen and (max-width: 24.375em) {
    .btn-black {
      min-width: 10rem;
      font-size: 1.3rem; } }

.play-button {
  position: absolute;
  bottom: 4.5%;
  right: 3.5%;
  height: 4rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .play-button:hover {
    cursor: pointer; }
  @media only screen and (max-width: 58.125em) {
    .play-button {
      bottom: 6%; } }
  @media only screen and (max-width: 31.25em) {
    .play-button {
      bottom: 6.5%; } }
  @media only screen and (max-width: 25.9375em) {
    .play-button {
      bottom: 7.5%; } }

.series-6-text-img {
  height: 131px;
  width: 346px;
  background-repeat: no-repeat;
  background-image: url("./images/watch_series_6_logo_large.png"); }
  @media only screen and (max-width: 29.687em) {
    .series-6-text-img {
      width: 310px;
      background-size: contain; } }
  @media only screen and (max-width: 24.375em) {
    .series-6-text-img {
      width: 240px;
      height: 100px; } }

.series-se-text-img {
  height: 131px;
  width: 346px;
  background-repeat: no-repeat;
  background-image: url("./images/watch_se_logo_large.png"); }
  @media only screen and (max-width: 24.375em) {
    .series-se-text-img {
      background-size: contain;
      width: 240px;
      height: 100px; } }

.fitness-text-img {
  height: 75px;
  width: 410px;
  background-repeat: no-repeat;
  background-image: url("./images/fitness_plus_logo_large.png"); }
  @media only screen and (max-width: 42.8125em) {
    .fitness-text-img {
      background-size: contain;
      width: 340px; } }
  @media only screen and (max-width: 24.375em) {
    .fitness-text-img {
      width: 280px;
      height: 55px; } }

.apple-text-img {
  height: 50px;
  width: 150px;
  margin-bottom: 6rem;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_air_logo_large.png"); }

.new-ipad-text-img {
  height: 120px;
  width: 243px;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_logo_large.png"); }

.one-text-img {
  height: 76px;
  width: 243px;
  background-repeat: no-repeat;
  background-image: url("./images/apple_one_logo_large.png"); }

.series-6-text {
  color: var(--text-color-white);
  font-size: 2rem;
  margin-top: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  .series-6-text:hover {
    cursor: default; }
  @media only screen and (max-width: 29.687em) {
    .series-6-text {
      font-size: 1.6rem; } }

.series-6-bg-img {
  height: 94rem;
  width: 65rem;
  background-repeat: no-repeat;
  background-image: url("./images/watch_series_6_hero_large.jpg"); }
  @media only screen and (max-width: 75.3125em) {
    .series-6-bg-img {
      background-size: contain;
      width: 28rem;
      height: 40rem;
      margin-top: 6rem; } }

.series-se-bg-img {
  height: 77rem;
  width: 80rem;
  background-repeat: no-repeat;
  background-image: url("./images/watch_se_hero_large.jpg"); }
  @media only screen and (max-width: 87.5em) {
    .series-se-bg-img {
      background-size: contain;
      width: 60rem;
      height: 60rem; } }
  @media only screen and (max-width: 75.3125em) {
    .series-se-bg-img {
      width: 40rem;
      height: 40rem;
      margin-top: 6rem; } }
  @media only screen and (max-width: 31.25em) {
    .series-se-bg-img {
      width: 35rem;
      height: 35rem; } }
  @media only screen and (max-width: 24.375em) {
    .series-se-bg-img {
      width: 30rem;
      height: 30rem; } }

.fitness-bg-img {
  height: 128rem;
  width: 115rem;
  transform: translateY(-6rem);
  background-repeat: no-repeat;
  background-image: url("./images/fitness_plus_hero_large.jpg"); }
  @media only screen and (max-width: 100em) {
    .fitness-bg-img {
      background-size: contain;
      width: 100rem;
      height: 100rem; } }
  @media only screen and (max-width: 87.5em) {
    .fitness-bg-img {
      width: 80rem;
      height: 60rem; } }
  @media only screen and (max-width: 75.3125em) {
    .fitness-bg-img {
      transform: translateY(0);
      margin-top: 6rem;
      width: 55rem;
      height: 50rem; } }
  @media only screen and (max-width: 42.8125em) {
    .fitness-bg-img {
      transform: translateY(0);
      width: 35rem;
      height: 35rem; } }
  @media only screen and (max-width: 24.375em) {
    .fitness-bg-img {
      width: 30rem;
      height: 30rem; } }

.ipad-bg-img {
  height: 38rem;
  width: 110.3rem;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_air_hero_large.jpg"); }

.new-ipad-bg-img {
  height: 92rem;
  width: 92rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url("./images/ipad_hero_large.jpg"); }

.one-section-bg-img {
  height: 38rem;
  width: 65rem;
  transform: translateY(2rem);
  background-repeat: no-repeat;
  background-image: url("./images/apple_one_hero_large.jpg"); }

.text-black {
  color: var(--text-color-black);
  opacity: 0.94; }

.title-small {
  opacity: 0.8; }

.unselectable-text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.title-strong-text {
  color: black;
  opacity: 0.98; }

.text-small {
  font-size: 1.2rem;
  color: var(--text-footer);
  margin-bottom: 1rem; }

.br {
  height: 0.1rem;
  width: 100%;
  opacity: 0.3;
  background-color: var(--text-footer);
  margin: 2rem 0; }

.br-margin-sm {
  margin: 1rem 0; }

.footer-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  opacity: 0.98;
  min-width: 25rem; }
  .footer-title:hover {
    cursor: default; }

.footer-link {
  display: inline-block; }
  .footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: black; }

.separator {
  display: flex;
  align-self: start;
  height: 1.4rem;
  width: 0.1rem;
  opacity: 0.4;
  margin: 0 1.25rem;
  background-color: var(--text-footer); }

.footer-country {
  margin-left: auto; }

.app {
  min-height: 100vh;
  min-width: 100vw; }

.nav-extended {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 0;
  transition: all 0.35s linear;
  z-index: 9998; }

.search-section {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  margin-top: 4.4rem;
  transition: all 0.35s linear; }

.nav-extended-links-section {
  padding: 0 5rem;
  transition: all 0.35s linear; }

.recap {
  position: relative;
  background-color: var(--color-grey);
  padding: 4rem 0; }

.ipad-air {
  position: relative;
  background-color: var(--color-white);
  padding: 14rem 0; }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.button-container {
  display: flex;
  align-items: center; }

.series-6 {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  padding: 4rem 19.5rem; }
  @media only screen and (max-width: 24.375em) {
    .series-6 {
      padding: 4rem 0; } }

.new-ipad {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  padding: 12rem 19.5rem; }

.fitness {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-grey);
  padding: 6rem 0 0 19rem; }
  @media only screen and (max-width: 75.3125em) {
    .fitness {
      padding: 6rem 0; } }

.series-6-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 75.3125em) {
    .series-6-container {
      flex-direction: column; } }

.series-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 45rem;
  max-width: 45rem;
  margin-right: 9.5rem; }
  @media only screen and (max-width: 75.3125em) {
    .series-content {
      margin-right: 0; } }
  @media only screen and (max-width: 29.687em) {
    .series-content {
      min-width: 30rem;
      max-width: 30rem; } }

.fitness-content {
  display: flex;
  min-width: 48rem;
  max-width: 48rem; }
  @media only screen and (max-width: 29.687em) {
    .fitness-content {
      transform: translateY(0);
      min-width: 30rem;
      max-width: 30rem; } }

.fitness-img {
  margin-left: auto; }
  @media only screen and (max-width: 75.3125em) {
    .fitness-img {
      margin-left: 0; } }

.new-ipad-content {
  min-width: 39.8rem;
  max-width: 39.9rem; }

.one-content {
  min-width: 39.8rem;
  max-width: 39.8rem; }

.series-se {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  padding: 12rem 19.5rem; }
  @media only screen and (max-width: 24.375em) {
    .series-se {
      padding: 12rem 0; } }

.one-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-grey-light);
  padding: 18rem 19.5rem; }

.footer {
  padding: 2rem 30rem;
  background-color: var(--color-grey); }

.footer-column {
  display: flex;
  flex-direction: column; }

.footer-links {
  display: flex;
  margin-bottom: 3rem; }

.lower-footer {
  display: flex;
  align-items: center; }

.u-margin-right-xsm {
  margin-right: 1rem !important; }

.u-margin-right-sm {
  margin-right: 2rem !important; }

.u-margin-right-md {
  margin-right: 4rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 2rem !important; }

.u-margin-top-sm {
  margin-top: 2rem !important; }
